<div id="dialog-modal" title="Define Pivot Table">
  
    <%= render 'pivot_roles' %>
  
    All Columns:
    <ul class="draggable-columns">      
    </ul>
    
    <div id="table-wrapper">           
    </div>
  
</div>