<ul class="pivot-roles">
  <li class="pivot-row-labels">
    <h4>Row Label</h4>
    <div></div>
  </li>
  <li class="pivot-column-labels">
    <h4>Column Labels</h4>
    <div></div>
  </li>    
  <li class="pivot-values">
    <h4>Values</h4>
    <div></div>
  </li>
</ul>      